/*  your css code here. If applicable */
h1 {
	text-align: center;
}

table, tr, td {
	border: 1px solid black;
	margin: 1px;
	padding: 1px
}

#t21 {
	column-span: 6;
}

.green {
	background-color: green;
}
.blue {
	background-color: blue;
}